<h1>message app</h1> 
<div>

</div>


<div>
    <h1>Sendging messages</h1>
    <input id="userToChatWith">
    <textarea id="message"></textarea>
    <button id="test" type="submit">send message</button>
</div>

<div>
    <h1>Creating chat connections</h1>
    <input id="search" placeholder="look for user">
    <button id="test2">creat chat</button>
</div>

{{!-- <script src="/js/index.js"></script> --}}