<h1>Welcome message</h1> 
<div>
    <form action="/tasks" method="POST">
        <select class="category" name="category" id="category">
            <option value="food">Food</option>
            <option value="study">Study/Work</option>
        </select>
        <textarea class="task" name="task"></textarea>
        <button id="createTask">createTask</button>
    </form>
</div>

<div> 
    <ul>
        {{#each tasks}}
            <label>{{this.category}}</label>
                <li>{{this.task}}</li>
        {{/each}}
    </ul>
</div>

<h2>show the users</h2>
    <ul id="users">

    </ul>

{{!-- <script src="/js/index.js"></script> --}}