<h1>Welcome message</h1> 
    <form action="/signOut" method="POST">
        <button id="signOut">signOut</button>
    </form>
<div>
    <form action="/tasks" method="POST">
        <select class="category" name="category" id="category">
            <option value="food">Food</option>
            <option value="study">Study/Work</option>
        </select>
        <textarea class="task" name="task"></textarea>
        <button id="createTask">createTask</button>
    </form>
</div>

<div> 
    <div>
        {{#each tasks}}
            <h3 >{{this.category}}</h3>
            <div>{{this.task}}</div>
            <button onClick="test(this.value)" value="{{this.category}}">view map</button>
        {{/each}}
    </div>
</div>

<h2>show the users signed up</h2>
    <ul id="users">

    </ul>

{{!-- <script src="/js/index.js"></script> --}}