    <div id="map"></div>
    <button id="search">search</button>
<script src="/js/index.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUl_IrgmLzUV19j4Kr0ndohAmndHTaneg&libraries=places&callback=initMap"></script>
