<div>
    {{!-- <form action="/api/users" method="POST">
        <input id="userName" name="userName" placeholder="Make a user name">
        <input id="email" name="userEmail" type="email" placeholder="email address">
        <input id="password" name="userPassword" type="password" placeholder="password">

        <button class="btn" type="submit">Sign Up!</button>
    </form> --}}

    {{!-- <form action="/api/users" method="POST"> --}}

    {{!-- <div id="nameDisplay"></div> --}}
        <div id="usersConnected"></div>
        <input id="userName" name="userName" placeholder="Make a user name">
        <input id="email" name="userEmail" type="email" placeholder="email address">
        <input id="password" name="userPassword" type="password" placeholder="password">

        <button class="btn" type="submit">Sign Up!</button>
    {{!-- </form> --}}

    <ul id="users">

    </ul>

</div>
{{!-- <script src="/js/index.js"></script> --}}

