<main>
    <div class="container valign-wrapper">
    <div class="row" style="min-width: 50%; margin-top: 5%">
        <form action="/signIn" method="POST" class="blue-grey lighten-5 z-depth-2 col s12 m12 l12">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix blue-text">account_circle</i>
                <input id="last_name" name="userName" type="text" class="validate blue-text" />
                <label for="last_name" class="active blue-text"
                    >User Name</label
                >
                </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix blue-text">lock</i>
                <input
                    name="userPassword"
                    id="password"
                    type="password"
                    class="validate blue-text"
                />
                <label for="password" class="active blue-text">Password</label>
                </div>
            </div>
            <!-- Log In BUtton -->
            <div class="row center">
                <button class="btn" type="submit">Log In</button>
            </div>
        </form>
    </div>
    </div>
    <!--End Container-->
</main>